In [1]:
# 1. Generate the following pattern

rows = int(input("Enter number of rows "))
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')

    print("\r")

Enter number of rows 5
*
* *
* * *
* * * *
* * * * *

In [2]:
# 2. Display multiplication table of K. Take k value from user

num = int(input("Enter number"))
for i in range(1,11):  
   print(num,'x',i,'=',num*i)

Enter number12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [3]:
# 3. Roots of quadratic equation

import cmath

a = 1
b = 5
c = 6
d = (b**2) - (4*a*c)
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)
print('The solution is {0} and {1}'.format(sol1,sol2))

The solution is (-3+0j) and (-2+0j)

In [4]:
# 4. Convert a decimal number to Binary

number = int(input("Enter any decimal number: "))
print("Equivalent Binary Number: ", bin(number))

Enter any decimal number: 12
Equivalent Binary Number:  0b1100

In [5]:
# 5. Generate first N number of Fibonacci numbers.

def printFibonacciNumbers(n): 
    f1 = 0
    f2 = 1
    if (n < 1): 
        return
    for x in range(0, n): 
        print(f2, end = " ") 
        next = f1 + f2 
        f1 = f2 
        f2 = next

printFibonacciNumbers(7)

1 1 2 3 5 8 13